@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
    /* --font-main: 'Quicksand', sans-serif; */
    --font-main: "Noto Sans", "Noto Sans Arabic", sans-serif;

    /* --main: #4ebddc; */
    /*#81D1E7; */
    /* --main-hover: #81D1E7; */
    /* #4ebddc; */
    --main-bg: rgb(255 227 208);
    /* --accent: #fcf8c3; */
    /* --accent-hover: #ffe5b3; */
    --text: #1b3d6c;
    /*#1b3d6c; */
    --text-light: #666;

    --main: #ff7415;
    --main-hover: rgb(102 47 10);

    --accent: #ffb217;
    --accent-hover: rgb(102 84 10);

    --blue: #24b2b2;
    --blue-light: rgb(215 255 255);
    --blue-light: rgb(10 102 100);


    /*   rgb(255 246 209);*/

    /* #4285f4 */


    --white: #ffffff;
    --dark: #111;
    --nav-height: 90px;
    --card-bg: #ffffff;
    --main-rgb: 129, 209, 231;
    --transition: .3s;
    /* manually extracted rgb from #81D1E7 */

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 270px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    /* font-family: 'Nunito Sans', sans-serif; */

    margin: 0;
    color: var(--text);
    background-color: var(--main-bg);

    overflow-x: hidden;
}

::selection {
    background-color: var(--main);
    color: var(--white);
}

/* small styling for demo page */
main {
    overflow-x: hidden;
    padding: 5rem 0 0;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.hero {
    padding: 2rem;
    background: linear-gradient(180deg, var(--accent), #fff9ee);
    border-radius: 12px;
}


/* ================================= */
/*           POLICY PAGES            */
/* ================================= */


.policy-section {
    padding: 80px 20px;
}

.policy-text h2 {
    color: var(--main);
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
}

.policy-text p {
    line-height: 1.9;
    margin: 12px 0;
    color: var(--text-light);
    font-size: 16px;
}

.policy-text strong,
.policy-ar strong {
    color: var(--main);
}

.policy-ar {
    direction: rtl;
    text-align: right;
    /* font-family: "Cairo", sans-serif; */
    margin-top: 40px;
    line-height: 2;
    color: var(--text-light);
}

.policy-ar .section-title::after,
.policy-ar .section-title::before {
    display: none;
}

.policy-ar h1,
.policy-ar h2 {
    color: var(--main);
    font-weight: 700;
    margin: 20px 0 10px;
}

.policy-ar ul,
.policy-text ul {
    padding-right: 20px;
    margin: 15px 0;
}

.policy-ar ul li,
.policy-text ul li {
    margin-bottom: 10px;
    line-height: 2;
}